@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&family=Roboto+Slab:wght@500&display=swap');

.reveal section.title h1 {
    font-family: 'Oswald', sans-serif;
}

.reveal h2 {
    font-family: 'Oswald', sans-serif;
}

.col2 {
    width:48% !important;
    margin: 0 1% !important;
    float: left;
}

.reveal .col2 ol, .reveal .col2  dl, .reveal .col2  ul {
    display: table;
}

.reveal .clear {
    clear: both; 
}

.reveal .refs {
    clear: both;
    font-size: 78%;
}

.reveal p {
    font-family: 'Roboto Mono', monospace;
}

.reveal .fin p {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}